@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background: #b1fabf; */
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: Montserrat;
  color: #b3afbf;
}

.card {
  padding: 15px;
  width: 350px;
  background: #222;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
  user-select: none;
}

.cover-photo {
  position: relative;
  background: url(banner.jpg);
  background-size: cover;
  height: 180px;
  border-radius: 5px 5px 0 0;
}

.profile {
  position: absolute;
  width: 120px;
  height: 120px;
  object-fit: cover;
  bottom: -90px;
  left: 1px;
  border-radius: 50%;
  border: 2px solid #222;
  background: #222;
  padding: 5px;
}

.profile-name {
  font-size: 16px;
  margin: 20px 0 0 110px;
  color: #fff;
}

.about {
  margin-top: 30px;
  margin: 0px 0 0 100px;
  line-height: 1.6;
}

.btn {
  margin: 45px 15px 20px;
  background: white;
  padding: 10px 25px;
  border-radius: 3px;
  border: 1px solid #96a13c;
  font-weight: bold;
  font-family: Montserrat;
  cursor: pointer;
  color: #222;
  transition: 0.2s;
}

.btn:last-of-type {
  background: transparent;
  border-color: white;
  color: white;
}
.btn:last-of-type a {
  text-decoration: none;
  color: white;
}
.btn:last-of-type a:hover {
  color: #222;
}
a {
  text-decoration: none;
  color: #222;
}
.btn:hover {
  background: white;
  color: #222;
}

.icons {
  width: 180px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.icons i {
  cursor: pointer;
  padding: 5px;
  font-size: 28px;
  color: #fff;
  transition: 0.2s;
}

.icons a {
  text-decoration: none;
}
.icons i:hover {
  color: white;
}
